@import "../../common/sass/base";
body {
  background-color: #eeeeee;
  height: 100%;
  width: 100%;
}
.outer-box {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  flex-direction: column;
  vertical-align: top;
  .td {
    display: -webkit-box;
    flex-direction: row;
    vertical-align: top;
    flex: 1;
    overflow: hidden;
    .lcd {

    }

    .ccd {
      flex: 1;

      .center-container-dom{
        .top {
          .block {
            display: inline-block;
            box-sizing: border-box;
            width: 50%;
            font-size: 18px;
            padding: 10px;
            vertical-align: top;
            .left {
              color: #333333;
            }

            .right {
              color: #666666;
              padding-left: 10px;
            }
          }
        }
        .bottom {
          .game {
            width: 100%;
          }
        }
      }
    }

    .rcd {
      margin: 10px 20px;
    }
  }

  .bcd {
    background-color: #0f6ab4;
  }
}

.left-container-dom {

}

.center-container-dom{
  width: 100%;
  height: 100%;
}

.player {
  align-items: center;
  overflow: hidden;
  border-radius: 5px;
  border: solid 1px black;
  width: 160px;
  white-space: nowrap;
  margin: 10px;
  box-shadow: 2px 2px 5px #888888;
  .left{
    .player-pic {
      width: 80px;
      height: 80px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
    .ready-pic {
      visibility:hidden;
    }
    display: inline-block;
    vertical-align: top;
    .name {
      width: 80px;
      height: 30px;
      line-height: 30px;
      color: white;
      font-size: 16px;
      text-align: center;
      white-space:nowrap;
      overflow:hidden;
      text-overflow:ellipsis;
    }
  }
  .right {
    box-sizing: border-box;
    padding: 5px;
    display: inline-block;
    width:  80px;
    height: 110px;
    background-color: #ffffff;
    vertical-align: middle;
    overflow:hidden;
    text-overflow:ellipsis;
    .text {
      color: #666666;
      font-size: 14px;
      margin-bottom: 2px;
    }
    .outer-city {
      text-overflow: ellipsis;
      color: #999999;
      font-size: 12px;
      white-space: normal;
      word-break:break-all;
      display:-webkit-box;
      -webkit-line-clamp:3;
      -webkit-box-orient:vertical;
      overflow:hidden;
      display: -webkit-box;
    }
  }
}

.game-log{
  width: 180px;
  box-shadow: 0 0 5px #999999;
  .title {
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #0088bb;
    text-align: center;
  }

  .log-container{
    background-color: white;
    color: #666666;
    height: 200px;
    overflow: scroll;
    padding: 5px;
    font-size: 12px;
    .log {

    }
  }
}
.chat{
  width: 180px;
  box-shadow: 0 0 5px #999999;
  .title {
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #0088bb;
    text-align: center;
  }

  .chat-container{
    background-color: white;
    color: #666666;
    height: 200px;
    overflow: scroll;
    padding: 5px;
    font-size: 12px;
    .message {

    }
  }
  .chat-box{
    input{
      width: 70%;
      height: 10px;
      border:1px solid black;
    }
  }
}
.control{

}