
html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

input,button,select,textarea{outline:none}
textarea{resize:none}

input {
  border-style: none;
  border: solid 1px #999;
  height: 20px;
  padding: 5px;
}